{
	"extends": [
		"react-app"
	],
	"plugins": [
		"react-hooks"
	],
	"rules": {
		"import/no-anonymous-default-export": [
			"error",
			{
				"allowArrowFunction": true,
				"allowObject": true
			}
		],
		"react/react-in-jsx-scope": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "off"
	}
}